.shop-highlight {
    &__container {
        background-color: #7763a9;

        .container {
            display: flex;
            flex-direction: column;
        }
    }

    &__text {
        margin-top: 30px;
        padding-left: 32px;

        @include breakpoint(large) {
            padding-left: none;
        }
    }

    &__title {
        font-family: $recol-medium;
        color: $white;
        font-size: 40px;
        text-align: left;
        width: 85%;

        @include breakpoint(large) {
            width: 100%;
            text-align: center;
            font-size: 60px;
        }
    }

    &__subtitle {
        font-family: $recol-regular;
        color: $white;
        font-size: 17px;
        text-align: left;
        line-height: 1.3em;

        width: 80%;

        @include breakpoint(large) {
            text-align: center;
            width: 80%;
            margin: 0 auto;
            font-size: 25px
        }
    }

    &__categories {
        display: flex;
        margin-top: 10px;

        @include breakpoint(large) {
            margin-top: 35px;
        }

        .product-category {
            &__content {
                background-color: $extra-light-purple;

                font-family: $soft-alt;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;

                padding: 0 17px;
            }
        }

        &.slick-initialized {
            padding: 0 15px;
        }
    }

    &__category {
        width: 100%;
        display: flex;
        justify-content: center;

        transition: 0s;

        * {
            transition: 0s;
        }
    }

    &__content {
        padding-bottom: 10px;
    }

    &__actions {
        margin-top: 30px;

        @include breakpoint(large) {
            width: 80%;
            margin-top: 45px;
            align-self: center;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__link {
        // width: 80%;
        margin-top: 15px;

        // @include breakpoint(medium) {
        //     width: 50%;
        // }

        @include breakpoint(large) {
            margin-top: 25px;
            // width: 35%;
        }

        .btn__container {
            color: $dark-lilac;
            font-family: $soft-alt-medium;
        }
    }


}

@import "../../05_STATE/highlight/shop-highlight";