.personalisation-image {
    &__container {
        margin-top: 20px;
    }

    &__label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        padding: 10px 0;

        background-color: $milka-lilac;
        border-radius: 22px;

        font-family: $soft-alt-regular;
        color: $white;

        @include breakpoint(medium) {
            font-size: 16px;
        }
    }

    &__help {
        margin-top: 15px;
        color: $dark-lilac;

        @include breakpoint(medium) {
            font-size: 16px;
        }
    }
}