.product-accordion {
    &__container {
        border-top: 1px solid $dark-lilac;
        border-bottom: 1px solid $dark-lilac;
        margin: 0 15px;
        margin-top: 50px;
        padding-top: 2%;
        padding-bottom: 2%;

        @include breakpoint(medium){
            border-top: initial;
            margin-top: 80px;
            padding-left: 5%;
            padding-right: 5%;
        }
        
        @include breakpoint(large){
            margin: initial;
            margin-top: 100px;
        }

        //* Select all but the first .product-accordion__container
        & ~ .product-accordion__container {
            margin-top: 0;
            border-top: initial;
        }
    }

    &__title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        color: $dark-lilac;

        @include breakpoint(medium) {
            padding-right: 0;
            justify-content: center;
            align-items: initial;
            text-align: center;
        }

        h3 {
            font-family: $soft-alt-medium;

            @include breakpoint(large) {
                font-size: 18px;
            }

            span {
                margin-left: 10px;
            }
        }

    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        padding-top: 10px;

        @include breakpoint(large) {
            padding-top: 0;
            flex-direction: row;
        }
        p,li {
            font-family: $soft-alt;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: #3B2774;
            @include breakpoint(medium) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        .scroll--mb {
            padding: 0 15px;

            @include breakpoint(large) {
                padding: 0;
            }
        }
    }

    &__control {
        position: relative;
        margin-left: 10px;
        height: 10px;
        width: 10px;

        transform: rotate(-45deg);
        
        box-shadow: 3px 3px $dark-lilac;

        @include breakpoint(medium) {
            height: 20px;
            width: 20px;
            margin-left: 35px;
        }
    }
}


@import "../../05_STATE/product/product-accordion";