.split-content {
    &__container {
        padding: 0 2%;
        min-height: 50vh;

        @include breakpoint(medium) {
            padding-left: 5%;
        }

        h2 {
            text-align: center;

            @include breakpoint(medium) {
                text-align: left;
            }
        }
    }

    &__title {
        padding-top: 10%;
        border-bottom: 4px double $milka-lilac;
        margin-bottom: 15px;
        text-align: center;
        
        @include breakpoint(medium) {
            text-align: left;
            width: 80%;
        }
    }

    &__text {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;

        @include breakpoint(medium) {
            text-align: left;
        }

        &:nth-last-child(1) {
            padding-bottom: 10%;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

        @include breakpoint(medium) {
            padding-bottom: 0;
            margin: 20px 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        iframe {
            width: 100%;
        }
    }
}

@import "../../05_STATE/history/split-content.scss";