.flower-165 {
    // make KONVA Generated CANVAS responsive
    .konvajs-content {
        padding-bottom: 100%; // height/width*100%
    }

    #front-photo-1 {
        .cropit-preview-image-container {
            clip-path: url(#front1);
        }
    }

    #back-photo-1 {
        .cropit-preview-image-container {
            clip-path: url(#back1);
        }
    }

    
    #front {
        .preview {
            &__content {
                .personalisation-step {
                    &__indication {
                        z-index: 1;
                        border: 2px solid $white;
                        transform-origin: left top;
                        font-size: 10px;

                        @include breakpoint(medium) {
                            font-size: 15px;
                        }
                    }
                }
            }

            &__guide {
                position: absolute;
                border-color: $white;
                // transform: rotate(15.61deg);

                &:nth-of-type(1){
                    width: 34.745%;
                    height: 8.955%;
                    left: 36.6101%;
                    top: 42.813%;
                }

                &:nth-of-type(2){
                    width: 42.542%;
                    height: 7.215%;
                    left: 32.203%;
                    top: 53%;
                }

            }
        }
    }
    
    #back {
        .preview {
            &__content {
                .personalisation-step {
                    &__indication {
                        z-index: 1;
                        border: 2px solid $white;
                        transform-origin: left top;
                        font-size: 10px;

                        @include breakpoint(medium) {
                            font-size: 15px;
                        }
                    }
                }
            }

            &__guide {
                position: absolute;
                border-color: $white;
                transform: rotate(9deg);

                &:nth-of-type(1){
                    width: 23.776%;
                    height: 16.109%;
                    left: 32.638%;
                    top: 66.59%;

                    @include breakpoint(medium) {
                        left: 40.192%;
                        top: 42.624%;
                    }
                }

            }
        }
    }
}